/* Note To Self: This relies on task lines we care about being decorated with the .cm-tag-ticktick class */
.cm-line:not(:hover):not(.cm-active):has(.cm-tag-ticktick) span.cm-comment {
	display: none;
}


.ts_button {
	margin-top: 1rem;
	cursor: pointer;
}
button.ts_button[disabled] {
	opacity: 0.3;
	background-color: unset !important;
	color: unset !important;
	box-shadow: var(--input-shadow);
}
button.ts_button[disabled]:hover {
	background-color: unset !important;
	color: unset !important;
	box-shadow: var(--input-shadow);
}

.ts_login_button {
	width: 112px;
	margin-top: 1rem;
	cursor: pointer;
}


.project-table-table{
	width: 100%;
	margin-bottom: 10px;
	font-size: 0.9rem;
	border: 2px solid var(--background-secondary);
	border-radius: 5px;
	padding: 10px;
	border-collapse: collapse;
}

.project-table-border{
	border: 2px solid var(--background-secondary);
	padding: 10px;
}

.dataview.inline-field-key[data-dv-key="ticktick_id"],
.dataview.inline-field-key[data-dv-key="ticktick_id"] + span {
	display: none;
}
.cm-line.cm-active span.cm-comment,
.cm-line.cm-active .dataview.inline-field-key[data-dv-key="ticktick_id"],
.cm-line.cm-active .dataview.inline-field-key[data-dv-key="ticktick_id"] + span,
.cm-line:hover span.cm-comment,
.cm-line:hover .dataview.inline-field-key[data-dv-key="ticktick_id"],
.cm-line:hover .dataview.inline-field-key[data-dv-key="ticktick_id"] + span {
	display: inline-block;
}
