/*TODO: What are we using this for and why is not the same as the official styles.css?*/
.cm-line:not(:hover):not(.cm-active) span.cm-comment:not(.cm-hmd-codeblock):not(.cm-templater-command) {
	display: none;
}

.theme {
	--color-base-20: #f6f6f6;
	--input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12),
	0 2px 3px 0 rgba(0, 0, 0, .05),
	0 1px 1.5px 0 rgba(0, 0, 0, .03),
	0 1px 2px 0 rgba(0, 0, 0, .04),
	0 0 0 0 transparent;
	--input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17),
	0 2px 3px 0 rgba(0, 0, 0, .1),
	0 1px 1.5px 0 rgba(0, 0, 0, .03),
	0 1px 2px 0 rgba(0, 0, 0, .04),
	0 0 0 0 transparent;
	--background-secondary: var(--color-base-20);
}
.ts_button {
	margin-top: 1rem;
	cursor: pointer;
}
button.ts_button[disabled] {
	opacity: 0.3;
	background-color: unset !important;
	color: unset !important;
	box-shadow: var(--input-shadow);
}
button.ts_button[disabled]:hover {
	background-color: unset !important;
	color: unset !important;
	box-shadow: var(--input-shadow);
}

.ts_login_button {
	width: 112px;
	margin-top: 1rem;
	cursor: pointer;
}


.project-table-table{
	width: 100%;
	margin-bottom: 10px;
	font-size: 0.9rem;
	border: 2px solid var(--background-secondary);
	border-radius: 5px;
	padding: 10px;
	border-collapse: collapse;
}

.project-table-border{
	border: 2px solid var(--background-secondary);
	padding: 10px;
}
 
.cm-line span.cm-comment {
	display: none;
}


.cm-line.cm-active span.cm-comment,
.cm-line:hover span.cm-comment {
	display: inline-block;
}

.dataview.inline-field-key[data-dv-key="ticktick_id"],
.dataview.inline-field-key[data-dv-key="ticktick_id"] + span {
	display: none;
}
.cm-line.cm-active span.cm-comment,
.cm-line.cm-active .dataview.inline-field-key[data-dv-key="ticktick_id"],
.cm-line.cm-active .dataview.inline-field-key[data-dv-key="ticktick_id"] + span,
.cm-line:hover span.cm-comment,
.cm-line:hover .dataview.inline-field-key[data-dv-key="ticktick_id"],
.cm-line:hover .dataview.inline-field-key[data-dv-key="ticktick_id"] + span {
	display: inline-block;
}
